In [2]:
def imprimir_nombre():
    print("Mi nombre es: Mónica")

In [3]:
imprimir_nombre()

Mi nombre es: Mónica

In [4]:
def imprimir_nombre_2(nombre):
    print(f'Mi nombre es {nombre}')

In [5]:
imprimir_nombre_2('Mónica')

Mi nombre es Mónica

In [6]:
imprimir_nombre_2('Hola')

Mi nombre es Hola

In [7]:
def sumar(numero1,numero2):
    print(f'La suma es {numero1+numero2}')

In [8]:
numero1 = int(input('Introduce el primer número: '))
numero2 = int(input('Introduce el segundo número: '))

sumar(numero1, numero2)

La suma es 14

In [23]:
def calcular_serie(n):
    r = 0.0
    for i in range(1,(n+1)):
        r+=1/i
    return r

In [24]:
n = int(input('Introduce el valor de n'))
r = calcular_serie(n)
print(f'El resultado de la serie es {r}')

El resultado de la serie es 2.7178571428571425

In [16]:
def calcular_factorial(n):
    i = 1
    fact=1
    while i<=n:
        fact*=i
        i+=1
    return fact

In [17]:
n = int(input('Introduce el valor de n'))
r = calcular_factorial(n)
print(f'El resultado de la serie es {r}')

El resultado de la serie es 40320

In [18]:
def calcular_serie_fact(n):
    r=0
    for i in range(1,(n+1)):
        r+=i/calcular_factorial(i)
    return r

In [19]:
calcular_serie_fact(3)

2.5